Fraud Detection-C12/flows.json
[{"id":"9c4a10ce.7b169","type":"ui_form","z":"e1895e89.6e374","name":"","label":"","group":"eedfd41b.c2a5c8","order":2,"width":0,"height":0,"options":[{"label":"Time","value":"time","type":"number","required":true},{"label":"V1","value":"v1","type":"number","required":true},{"label":"V2","value":"v2","type":"number","required":true},{"label":"V3","value":"v3","type":"number","required":true},{"label":"V4","value":"v4","type":"number","required":true},{"label":"V5","value":"v5","type":"text","required":true},{"label":"V6","value":"v6","type":"text","required":true},{"label":"V7","value":"v7","type":"text","required":true},{"label":"V8","value":"v8","type":"text","required":true},{"label":"V9","value":"v9","type":"text","required":true},{"label":"V10","value":"v10","type":"text","required":true},{"label":"Amount","value":"amount","type":"text","required":true}],"formValue":{"time":"","v1":"","v2":"","v3":"","v4":"","v5":"","v6":"","v7":"","v8":"","v9":"","v10":"","amount":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100.10000228881836,"y":123.00000190734863,"wires":[["44584749.d824d8"]]},{"id":"44584749.d824d8","type":"function","z":"e1895e89.6e374","name":"parameters","func":"global.set(\"time\",msg.payload.time)\nglobal.set(\"v1\",msg.payload.v1)\nglobal.set(\"v2\",msg.payload.v2)\nglobal.set(\"v3\",msg.payload.v3)\nglobal.set(\"v4\",msg.payload.v4)\nglobal.set(\"v5\",msg.payload.v5)\nglobal.set(\"v6\",msg.payload.v6)\nglobal.set(\"v7\",msg.payload.v7)\nglobal.set(\"v8\",msg.payload.v8)\nglobal.set(\"v9\",msg.payload.v9)\nglobal.set(\"v10\",msg.payload.v10)\nglobal.set(\"amount\",msg.payload.amount)\nreturn msg;","outputs":1,"noerr":0,"x":274.1000061035156,"y":128.80000114440918,"wires":[["728fb521.ffe3cc"]]},{"id":"728fb521.ffe3cc","type":"http request","z":"e1895e89.6e374","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":503.100004196167,"y":119.00000381469727,"wires":[["194891bc.d6c74e","58a49f69.9d901"]]},{"id":"194891bc.d6c74e","type":"debug","z":"e1895e89.6e374","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":505.1000518798828,"y":249.600004196167,"wires":[]},{"id":"58a49f69.9d901","type":"function","z":"e1895e89.6e374","name":"prediction","func":"var token=msg.payload.token\nvar time=global.get('time')\nvar v1=global.get('v1')\nvar v2=global.get('v2')\nvar v3=global.get('v3')\nvar v4=global.get('v4')\nvar v5=global.get('v5')\nvar v6=global.get('v6')\nvar v7=global.get('v7')\nvar v8=global.get('v8')\nvar v9=global.get('v9')\nvar v10=global.get('v10')\nvar amount=global.get('amount')\nmsg.payload={\"fields\":[\"time\",\"v1\",\"v2\",\"v3\",\"v4\",\"v5\",\"v6\",\"v7\",\"v8\",\"v9\",\"v10\",\"amount\"],values:[[time,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,amount]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":718.1000576019287,"y":136.00000095367432,"wires":[["4cbe6e8c.8789f"]]},{"id":"4cbe6e8c.8789f","type":"http request","z":"e1895e89.6e374","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/a42987d1-1fb1-4040-ab94-1901912373bf/deployments/51d8f061-f28f-4c1a-aba3-f538b44c30e5/online","tls":"","proxy":"","authType":"basic","x":717.1000137329102,"y":320.00000190734863,"wires":[["a80e5a20.b04028","a91f20f6.c21e1"]]},{"id":"a80e5a20.b04028","type":"debug","z":"e1895e89.6e374","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900.1000137329102,"y":279.0000286102295,"wires":[]},{"id":"a91f20f6.c21e1","type":"function","z":"e1895e89.6e374","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":658.1000556945801,"y":406.80001878738403,"wires":[["1959c04d.5099c"]]},{"id":"1959c04d.5099c","type":"ui_text","z":"e1895e89.6e374","group":"eedfd41b.c2a5c8","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":709.1000061035156,"y":505.2000207901001,"wires":[]},{"id":"eedfd41b.c2a5c8","type":"ui_group","z":"","name":"Input Parameters","tab":"bb87ef2.341401","disp":true,"width":"6","collapse":false},{"id":"bb87ef2.341401","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]