weather forecasting/flows.json
[{"id":"4e772c3f.5d65e4","type":"debug","z":"e72449d2.5818f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":765,"y":496,"wires":[]},{"id":"717fda32.097944","type":"http request","z":"e72449d2.5818f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/665208e9-8ff4-4ce2-bfc4-a647fd42c7cd/deployments/2d565ace-e808-4dc8-ba23-7ce335e81a0e/online","tls":"","proxy":"","authType":"basic","x":465,"y":216,"wires":[["38f3d393.4b350c"]]},{"id":"dc17b095.6ce3d","type":"function","z":"e72449d2.5818f8","name":"prediction","func":"var token=msg.payload.token;\nvar rf=global.get(\"rf\");\nvar evap=global.get(\"evap\");\nvar wgspeed=global.get(\"wgspeed\");\nvar ws3pm=global.get(\"ws3pm\");\nvar hd3pm=global.get(\"hd3pm\");\nvar p3pm=global.get(\"p3pm\");\nvar c3pm=global.get(\"c3pm\");\nvar rt=global.get(\"rt\");\nvar rmm=global.get(\"rmm\");\n\nmsg.payload={\"fields\":[\"rf\",\"evap\",\"wgspeed\",\"ws3pm\",\"hd3pm\",\"p3pm\",\"c3pm\",\"rt\",\"rmm\"],\"values\":[[rf,evap,wgspeed,ws3pm,hd3pm,p3pm,c3pm,rt,rmm]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":280,"wires":[["717fda32.097944"]]},{"id":"f94c02a8.4f311","type":"debug","z":"e72449d2.5818f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":865,"y":216,"wires":[]},{"id":"2ea30818.c2ae68","type":"http request","z":"e72449d2.5818f8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":505,"y":476,"wires":[["4e772c3f.5d65e4","dc17b095.6ce3d"]]},{"id":"9860869f.876f28","type":"inject","z":"e72449d2.5818f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":336,"wires":[["69d139be.bc07a8"]]},{"id":"69d139be.bc07a8","type":"function","z":"e72449d2.5818f8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"6a31b24a-887b-46fb-a962-fa947464b9bb\"\nvar password=\"4dcb387b-fcc5-4fd5-ab69-55c3c269b494\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"rf\",msg.payload.rf)\nglobal.set(\"evap\",msg.payload.evap)\nglobal.set(\"wgspeed\",msg.payload.wgspeed)\nglobal.set(\"ws3pm\",msg.payload.ws3pm)\nglobal.set(\"hd3pm\",msg.payload.hd3pm)\nglobal.set(\"p3pm\",msg.payload.p3pm)\nglobal.set(\"c3pm\",msg.payload.c3pm)\nglobal.set(\"rt\",msg.payload.rt)\nglobal.set(\"rmm\",msg.payload.rmm)\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":436,"wires":[["2ea30818.c2ae68"]]},{"id":"38f3d393.4b350c","type":"function","z":"e72449d2.5818f8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":296,"wires":[["f94c02a8.4f311","a9ae0cf9.95591"]]},{"id":"fb164f3.5b8eab","type":"ui_form","z":"e72449d2.5818f8","name":"","label":"","group":"8e0ece60.5854f","order":0,"width":0,"height":0,"options":[{"label":"Rainfall","value":"rf","type":"number","required":true},{"label":"Evaporation","value":"evap","type":"number","required":true},{"label":"WindGustSpeed","value":"wgspeed","type":"number","required":true},{"label":"WindSpeed3pm","value":"ws3pm","type":"number","required":true},{"label":"Humidity3pm","value":"hd3pm","type":"number","required":true},{"label":"Pressure3pm","value":"p3pm","type":"number","required":true},{"label":"Cloud3pm","value":"c3pm","type":"number","required":true},{"label":"RainToday","value":"rt","type":"number","required":true},{"label":"RiskMM","value":"rmm","type":"number","required":true}],"formValue":{"rf":"","evap":"","wgspeed":"","ws3pm":"","hd3pm":"","p3pm":"","c3pm":"","rt":"","rmm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":185,"y":536,"wires":[["69d139be.bc07a8","da808136.b351b"]]},{"id":"da808136.b351b","type":"ui_text","z":"e72449d2.5818f8","group":"8e0ece60.5854f","order":0,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload.yoe}}","layout":"row-spread","x":385,"y":556,"wires":[]},{"id":"a9ae0cf9.95591","type":"ui_text","z":"e72449d2.5818f8","group":"8e0ece60.5854f","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":785,"y":336,"wires":[]},{"id":"8e0ece60.5854f","type":"ui_group","z":"","name":"Prediction","tab":"e7cc5c22.7d931","disp":true,"width":"6","collapse":false},{"id":"e7cc5c22.7d931","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]