company turnover prediction (C8)/flows.json
[{"id":"25c246f6.f8554a","type":"http request","z":"4fb51484.392d4c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/8779dbd3-d5e5-438a-9880-8d8bca2cdf42/deployments/94af4544-60d2-4713-9d5c-6b0423c70473/online","tls":"","proxy":"","authType":"basic","x":713.1000595092773,"y":92.20000457763672,"wires":[["c095a1af.269ff","dc2b46db.fc3508"]]},{"id":"896de8b6.6db2b8","type":"ui_form","z":"4fb51484.392d4c","name":"","label":"","group":"3371e14e.d341fe","order":0,"width":0,"height":0,"options":[{"label":"satisfaction_level","value":"satisfaction","type":"number","required":true},{"label":"last_evaluation","value":"last","type":"number","required":true},{"label":"number_project","value":"number","type":"number","required":true},{"label":"average_montly_hours","value":"average","type":"number","required":true},{"label":"time_spend_company","value":"time","type":"number","required":true},{"label":"Work_accident","value":"work","type":"number","required":true},{"label":"left\t","value":"lef","type":"number","required":true},{"label":"promotion_last_5years","value":"promotion","type":"number","required":true},{"label":"Company Type\t","value":"company","type":"number","required":true}],"formValue":{"satisfaction":"","last":"","number":"","average":"","time":"","work":"","lef":"","promotion":"","company":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":88.5,"y":297.00000381469727,"wires":[["9de2d86b.a50838"]]},{"id":"9de2d86b.a50838","type":"function","z":"4fb51484.392d4c","name":"parameters","func":"global.set(\"satisfaction\",msg.payload.satisfaction)\nglobal.set(\"last\",msg.payload.last)\nglobal.set(\"number\",msg.payload.number)\nglobal.set(\"average\",msg.payload.average)\nglobal.set(\"time\",msg.payload.time)\nglobal.set(\"work\",msg.payload.work)\nglobal.set(\"lef\",msg.payload.lef)\nglobal.set(\"promotion\",msg.payload.promotion)\nglobal.set(\"company\",msg.payload.company)\nreturn msg;","outputs":1,"noerr":0,"x":285.1000747680664,"y":83.4000186920166,"wires":[["92d4ae5c.70d0c"]]},{"id":"c095a1af.269ff","type":"debug","z":"4fb51484.392d4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":911.1000137329102,"y":29,"wires":[]},{"id":"c2fe7ac7.72f838","type":"function","z":"4fb51484.392d4c","name":"prediction","func":"var token=msg.payload.token\nvar satisfaction=global.get(\"satisfaction\")\nvar last=global.get(\"last\")\nvar number=global.get(\"number\")\nvar average=global.get(\"average\")\nvar time=global.get(\"time\")\nvar work=global.get(\"work\")\nvar lef=global.get(\"lef\")\nvar promotion=global.get(\"promotion\")\nvar company=global.get(\"company\")\nmsg.payload={\"fields\":[\"satisfaction_level\",\"last_evaluation\",\"number_project\",\"average_montly_hours\",\"time_spend_company\",\"Work_accident\",\"left\",\"promotion_last_5years\",\"Company Type\t\"],values:[[satisfaction,last,number,average,time,work,lef,promotion,company]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":543.1000061035156,"y":96.20000648498535,"wires":[["25c246f6.f8554a"]]},{"id":"92d4ae5c.70d0c","type":"http request","z":"4fb51484.392d4c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":424.1000518798828,"y":287.4000053405762,"wires":[["c2fe7ac7.72f838","a5552f18.2ff56"]]},{"id":"a5552f18.2ff56","type":"debug","z":"4fb51484.392d4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":638.1000366210938,"y":431,"wires":[]},{"id":"dc2b46db.fc3508","type":"function","z":"4fb51484.392d4c","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":685.1000518798828,"y":291.0000057220459,"wires":[["14ff13cb.5ff55c"]]},{"id":"14ff13cb.5ff55c","type":"ui_text","z":"4fb51484.392d4c","group":"3371e14e.d341fe","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":887.1000595092773,"y":380.00000762939453,"wires":[]},{"id":"3371e14e.d341fe","type":"ui_group","z":"","name":"inputparameters","tab":"61ace389.f2c53c","disp":true,"width":"6","collapse":false},{"id":"61ace389.f2c53c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]