E5 univeristy admission prediction/nodered.json
[{"id":"c01d7fe0.42541","type":"http request","z":"120010cc.4bbd9f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/5a9433b8-2200-40fe-897a-0cd0ecdb8438/deployments/0f5aa1ef-1f46-468a-a432-f8396c4df71d/online","tls":"","proxy":"","authType":"basic","x":368,"y":58,"wires":[["3a079422.ce234c","e669a5d2.387be8"]]},{"id":"ff7eee46.a89c6","type":"function","z":"120010cc.4bbd9f","name":"prediction","func":"var token=msg.payload.token;\nvar GreScore=global.get(\"GreScore\");\nvar ToeflScore=global.get(\"ToeflScore\");\nvar UniversityRating=global.get(\"UniversityRating\");\nvar LOR=global.get(\"LOR\");\nvar CGPA=global.get(\"CGPA\");\nvar Research=global.get(\"Research\");\nmsg.payload={\"fields\":[\"GreScore\",\"ToeflScore\",\"UniversityRating\",\"LOR \",\"CGPA\",\"Research\"],\"values\":[[GreScore,ToeflScore,UniversityRating,LOR,CGPA,Research]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":152,"wires":[["c01d7fe0.42541"]]},{"id":"e669a5d2.387be8","type":"debug","z":"120010cc.4bbd9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":716,"y":106,"wires":[]},{"id":"b79399c9.7f0e38","type":"inject","z":"120010cc.4bbd9f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":65,"y":273,"wires":[["9c900d3d.2911e"]]},{"id":"9c900d3d.2911e","type":"function","z":"120010cc.4bbd9f","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"2d8af3d9-b723-49bd-998c-bcd7a1592e0a\"\nvar password=\"e7b3aee4-5f41-4967-a1e5-3f7ed0a8dffb\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"GreScore\",msg.payload.GreScore)\nglobal.set(\"ToeflScore\",msg.payload.ToeflScore)\nglobal.set(\"UniversityRating\",msg.payload.UniversityRating)\nglobal.set(\"LOR\",msg.payload.LOR)\nglobal.set(\"CGPA\",msg.payload.CGPA)\nglobal.set(\"Research\",msg.payload.Research)\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":337,"wires":[["71af5189.f14d"]]},{"id":"3a079422.ce234c","type":"function","z":"120010cc.4bbd9f","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":178,"wires":[["e669a5d2.387be8","841d326e.5a4c4"]]},{"id":"780eebbd.ba34d4","type":"debug","z":"120010cc.4bbd9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695,"y":378,"wires":[]},{"id":"42015600.ce0fa8","type":"ui_form","z":"120010cc.4bbd9f","name":"","label":"","group":"b62ca5eb.668458","order":0,"width":0,"height":0,"options":[{"label":"Gre_Score","value":"GreScore","type":"number","required":true},{"label":"Toefl_Score","value":"ToeflScore","type":"number","required":true},{"label":"University_Rating","value":"UniversityRating","type":"number","required":true},{"label":"LOR","value":"LOR","type":"number","required":true},{"label":"CGPA","value":"CGPA","type":"number","required":true},{"label":"Research","value":"Research","type":"number","required":true}],"formValue":{"GreScore":"","ToeflScore":"","UniversityRating":"","LOR":"","CGPA":"","Research":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":121,"y":417,"wires":[["9c900d3d.2911e","f0f30996.085f68"]]},{"id":"f0f30996.085f68","type":"ui_text","z":"120010cc.4bbd9f","group":"b62ca5eb.668458","order":0,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload.yoe}}","layout":"row-spread","x":315,"y":438,"wires":[]},{"id":"841d326e.5a4c4","type":"ui_text","z":"120010cc.4bbd9f","group":"b62ca5eb.668458","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":715,"y":218,"wires":[]},{"id":"71af5189.f14d","type":"http request","z":"120010cc.4bbd9f","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":529,"y":355,"wires":[["780eebbd.ba34d4","ff7eee46.a89c6"]]},{"id":"b62ca5eb.668458","type":"ui_group","z":"","name":"Prediction","tab":"2c32b311.10755c","disp":true,"width":"6","collapse":false},{"id":"2c32b311.10755c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]