Advertising Based On Usage(C17)/flows.json
[{"id":"de749075.827f2","type":"ui_form","z":"7622c4d.1a4773c","name":"","label":"","group":"1d0e061d.c9979a","order":3,"width":0,"height":0,"options":[{"label":"Daily Time Spent on Site","value":"timeSpent","type":"number","required":true},{"label":"Age","value":"age","type":"number","required":true},{"label":"Area Income","value":"areaIncome","type":"number","required":true},{"label":"Daily Internet Usage","value":"internetUsage","type":"number","required":true},{"label":"Male","value":"male","type":"number","required":true}],"formValue":{"timeSpent":"","age":"","areaIncome":"","internetUsage":"","male":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":64,"y":85,"wires":[["7db70a48.5da3d4"]]},{"id":"7db70a48.5da3d4","type":"function","z":"7622c4d.1a4773c","name":"parameters","func":"global.set(\"timeSpent\",msg.payload.timeSpent)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"areaIncome\",msg.payload.areaIncome)\nglobal.set(\"internetUsage\",msg.payload.internetUsage)\nglobal.set(\"male\",msg.payload.male)\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":86,"wires":[["642ddd8.c82b724"]]},{"id":"642ddd8.c82b724","type":"http request","z":"7622c4d.1a4773c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":283,"y":167,"wires":[["23840f99.f9fb8","b5431b4b.1edf88"]]},{"id":"23840f99.f9fb8","type":"debug","z":"7622c4d.1a4773c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":468,"y":168,"wires":[]},{"id":"b5431b4b.1edf88","type":"function","z":"7622c4d.1a4773c","name":"prediction","func":"var token=msg.payload.token\nvar timeSpent=global.get('timeSpent')\nvar age=global.get('age')\nvar areaIncome=global.get('areaIncome')\nvar internetUsage=global.get('internetUsage')\nvar male=global.get('male')\nmsg.payload={\"fields\":[\"Daily\",\"Age\",\"AreaIncome\",\"DailyInternetUsage\",\"Male\"],values:[[timeSpent,age,areaIncome,internetUsage,male]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":259,"wires":[["c0613aa6.051058"]]},{"id":"c0613aa6.051058","type":"http request","z":"7622c4d.1a4773c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d9fb4aa9-0ea5-4a71-bf34-f73ada305ed8/deployments/8775de3e-3d5b-43cd-941f-0065fc4478f2/online","tls":"","proxy":"","authType":"basic","x":453,"y":259,"wires":[["52d2c967.f587d8","65b5c744.02bc08"]]},{"id":"52d2c967.f587d8","type":"debug","z":"7622c4d.1a4773c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":632,"y":259,"wires":[]},{"id":"65b5c744.02bc08","type":"function","z":"7622c4d.1a4773c","name":"","func":"\nmsg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":361,"wires":[["c2f0b7b2.1849d8"]]},{"id":"c2f0b7b2.1849d8","type":"ui_text","z":"7622c4d.1a4773c","group":"1d0e061d.c9979a","order":4,"width":0,"height":0,"name":"","label":"Clicked on Ad","format":"{{msg.payload}}","layout":"row-spread","x":621,"y":361,"wires":[]},{"id":"1d0e061d.c9979a","type":"ui_group","z":"","name":"Input Parameters","tab":"3e753f65.86a0d","disp":true,"width":"6","collapse":false},{"id":"3e753f65.86a0d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]