Crop Price Prediction(E2)/flows.json
[{"id":"21590862.e9aee8","type":"http request","z":"b6117ed8.22b94","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c0f93887-7a79-43c9-9314-cbf7d3e348ae/deployments/feb2fc88-c524-452e-b6df-d1e3853656ef/online","tls":"","proxy":"","authType":"basic","x":417.00000762939453,"y":117.00000190734863,"wires":[["34394600.8275ca","c5dd2853.7f33e8"]]},{"id":"cd26deb2.0128","type":"function","z":"b6117ed8.22b94","name":"prediction","func":"var token=msg.payload.token;\nvar crop=global.get(\"crop\");\nvar yd1=global.get(\"yd1\");\nvar year5=global.get(\"year5\");\nvar year6=global.get(\"year6\");\nvar year7=global.get(\"year7\");\nvar year8=global.get(\"year8\");\nvar year9=global.get(\"year9\");\nvar year10=global.get(\"year10\");\nvar year11=global.get(\"year11\");\nvar year12=global.get(\"year12\");\nvar year13=global.get(\"year13\");\nmsg.payload={\"fields\":[\"crop\",\"yd1\",\"year5\",\"year6\",\"year7\",\"year8\",\"year9\",\"year10\",\"year11\",\"year12\",\"year13\"],\"values\":[[crop,yd1,year5,year6,year7,year8,year9,year10,year11,year12,year13]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":243,"wires":[["21590862.e9aee8","c5dd2853.7f33e8"]]},{"id":"c5dd2853.7f33e8","type":"debug","z":"b6117ed8.22b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":836,"y":179,"wires":[]},{"id":"e79393de.e92f5","type":"http request","z":"b6117ed8.22b94","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":476,"y":439,"wires":[["26343a2b.4853c6","cd26deb2.0128"]]},{"id":"ccd855dd.612638","type":"inject","z":"b6117ed8.22b94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280.00000381469727,"wires":[["73a2259.dca96dc"]]},{"id":"73a2259.dca96dc","type":"function","z":"b6117ed8.22b94","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"f80c5f7a-4c79-49b6-9444-f94bf87cffab\"\nvar password=\"89ed465c-262b-45a0-abc6-2919b99692e2\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"crop\",msg.payload.crop)\nglobal.set(\"yd1\",msg.payload.yd1)\nglobal.set(\"year5\",msg.payload.year5)\nglobal.set(\"year6\",msg.payload.year6)\nglobal.set(\"year7\",msg.payload.year7)\nglobal.set(\"year8\",msg.payload.year8)\nglobal.set(\"year9\",msg.payload.year9)\nglobal.set(\"year10\",msg.payload.year10)\nglobal.set(\"year11\",msg.payload.year11)\nglobal.set(\"year12\",msg.payload.year12)\nglobal.set(\"year13\",msg.payload.year13)\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":399,"wires":[["e79393de.e92f5"]]},{"id":"34394600.8275ca","type":"function","z":"b6117ed8.22b94","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":523.0000076293945,"y":339.00000381469727,"wires":[["c5dd2853.7f33e8","658e4177.8008a"]]},{"id":"26343a2b.4853c6","type":"debug","z":"b6117ed8.22b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":736,"y":459,"wires":[]},{"id":"458ed4af.c1b60c","type":"ui_form","z":"b6117ed8.22b94","name":"","label":"","group":"a4c438d7.5e4908","order":0,"width":0,"height":0,"options":[{"label":"crop","value":"crop","type":"number","required":true},{"label":"yd1","value":"yd1","type":"number","required":true},{"label":"year5","value":"year5","type":"number","required":true},{"label":"year6","value":"year6","type":"number","required":true},{"label":"year7","value":"year7","type":"number","required":true},{"label":"year8","value":"year8","type":"number","required":true},{"label":"year9","value":"year9","type":"number","required":true},{"label":"year10","value":"year10","type":"number","required":true},{"label":"year11","value":"year11","type":"number","required":true},{"label":"year12","value":"year12","type":"number","required":true},{"label":"year13","value":"year13","type":"number","required":true}],"formValue":{"crop":"","yd1":"","year5":"","year6":"","year7":"","year8":"","year9":"","year10":"","year11":"","year12":"","year13":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":156,"y":508.0000071525574,"wires":[["73a2259.dca96dc"]]},{"id":"9b7231f1.f66b4","type":"ui_text","z":"b6117ed8.22b94","group":"a4c438d7.5e4908","order":0,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload.yoe}}","layout":"row-spread","x":356,"y":519,"wires":[]},{"id":"658e4177.8008a","type":"ui_text","z":"b6117ed8.22b94","group":"a4c438d7.5e4908","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":756,"y":299,"wires":[]},{"id":"a4c438d7.5e4908","type":"ui_group","z":"","name":"Prediction","tab":"b498bb4c.e74f58","disp":true,"width":"6","collapse":false},{"id":"b498bb4c.e74f58","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]